Plugins>ANNOT>CRITPOINT,"CP Annotationer",      critpoint.Annotationer
Plugins>ANNOT>CRITPOINT,"View CP Annotation",   critpoint.ViewAnnotation
Plugins>ANNOT>CRITPOINT,"CP Annotationer Help", critpoint.AnnotationerHelp

Plugins>ANNOT>PATCH,"Patch Annotationer",       patch.Annotationer
Plugins>ANNOT>PATCH,"Patch Annotationer Help",  patch.AnnotationerHelp
Plugins>ANNOT>PATCH,"Mosaic Detection",         patch.MosaicDetection

Plugins>ANNOT>PATCH,"SIFT_Weka",     patch.SiftWeka

Plugins>ANNOT>SIFT,"1_SIFT_model",    Sift.Sift_model
Plugins>ANNOT>SIFT,"2_SIFT_class",    Sift.Sift_class
